/* BODY STUFF */
body {
    background-color: white;
}

/* HEADER ELEMENTS */
nav{
    background: transparent;
}
.nav-link{
    font-size: 1.25em;
}
.nav-link a:hover{
    text-decoration: underline;
}
.active{
    border: 2px solid grey;
}

.card{
    border-radius: 0px;
}

/* HOME */
.home {
    
    width: 100%;
    margin: auto;
    border-radius: 0;
    background-color: white;    
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* HOME - CENTER ELEMENTS */
.home .container .row{
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#vertcc {
    padding: 30px;
}
#vertccc {
    text-align: right; 
    font-size: 0.8em;   
}
#vertccc li {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}
.display-head {
    opacity: 1;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}

/* ABOUT */
.about {
    color: white;
}
.about .container {
    max-width: none;
    background-color: steelblue;
}

.about .container .row .column {
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
    max-width: 650px;
}

img {
    width: 60%;
    border: 3px solid black;
    float: right;
    border-radius: 1,4;
}

.space-the-final-frontier {
    height: 70px;
    width: 100%;
    background-color: yellow;
    margin: 0px;
    padding: 20px;
    border-bottom: 8px solid black;
    color: steelblue;
}

.column p a {
    color: yellow;
}
/* PROJECTS */

.github-repos{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}

.repo{
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin: 5px;
    border: 1px solid black;
}

.repo a{
    color: black;
}


/*
.projects {
    padding: 30px;
}

.projects .container {
    max-width: none;
}

.card .img {
    border-radius: 0;
}
.card-img, .card-img-top {
    border-radius: 0;
}
.card-title{
    color: black;
}

.card-text {
    color: black;
}

.btn {
    border-radius: 0;
    margin-right: auto;
}
*/

/* ONLINE */

.online .container {
    max-width: none;
    padding: 30px;
}

/* FOOTER */

footer{
    color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;    
}

.form-control {
    width: 50%;
}

h3 {
    font-size: 150%;
}