/* BODY STUFF */
body {
    background-color: white;
}

/* HEADER ELEMENTS */
header {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    background-color: yellow;
    border-bottom: 8px solid black;
}
.navbar {
    font-size: 1em;
    padding: 0;
}

.nav-item a{
    padding: 20px;
    height: 100%;
    width: 70px;
}
.nav-link:hover{
    background-color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: blue;
}


/* HOME */
.home {
    
    width: 100%;
    margin: auto;
    border-radius: 0;
    background-color: white;    
    color: black;
    background-image: url("Assets/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* HOME - CENTER ELEMENTS */
.home .container .row{
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#vertcc {
    padding: 30px;
}
#vertccc {
    text-align: right; 
    font-size: 0.8em;   
}
#vertccc li {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}
.display-head {
    opacity: 1;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}

/* ABOUT */
.about {
    color: white;
}
.about .container {
    max-width: none;
}
.about .container .row {
    background-color: blue;
}
.about .container .row .column {
    padding: 20px;
    max-width: 800px;
}

img {
    width: 60%;
    border: 3px solid black;
    float: right;
    border-radius: 1,4;
}

.space-the-final-frontier {
    height: 70px;
    width: 100%;
    background-color: yellow;
    margin: 0px;
    text-align: center;
}

/* PROJECT */

.project {
    
    background-size: cover;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.card {
    margin: 20px;
    height: 100%;

}

.card-title{
    color: black;
}

.card-text {
    color: black;
}
footer{
    color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.form-control {
    width: 50%;
}

h3 {
    font-size: 150%;
}